body
{
background-position: center;
background-size: cover;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #number_of_objects
{
font-size: 18px;
}

canvas
{
box-shadow: 5px 5px 5px lightgrey;
border-radius: 10px;
margin-top: 180px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
	position:sticky;
	top: 0;
    width: 100%;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	font-family: cursive;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #bbb;
	color: black;
  }

  .topnav-right {
	float: right;
  }

  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  .img_div{
	float: left;
	width: 50%;
	padding: 5px;
  }
  .menu_div{
	float: right;
	width: 50%;
	padding: 160px;
	color: honeydew;
	font-size: 25px;
	font-family: cursive;
  }
  #menu_list{
	background-color:#f5c71a;
	color:black; 
	width: 200px;
	border: none;
  }

  .newRow::after {
	content: "";
	clear: both;
	display: table;
}

  .block1{
	float: left;
	width: 20%;
	padding: 5px;
  }
  .block2{
	float: left;
	width: 80%;
	padding: 5px;
	color: honeydew;
	font-size: 25px;
	font-family: cursive;
  }

  #add_toppings{
	width:200px;
	height:180px;
	border: none;
	background-color:#e2062c;
	color:black;
	font-size: 25px;
	font-family: cursive;
  }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
	opacity: 1;
	color: whitesmoke;
 }

ol.menulist>li
{
	padding-bottom:20px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 }
 
 div.card {
    flex: 0 0 30%;
	box-sizing: border-box;
	color:black;
	margin: 0.5rem .18em;
	background-color: antiquewhite;
	align-items: center;
	font-size: medium;
}
.card img{
	width:100px;
	height: 80px;
}
#h12{
	color:orange;
}
#footer{
    height: 20px;
    background:linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(255,0,0,1) 35%);
}
#h14{
	color:white;
}
#h15{
	color:red;
	font-family: 'Nerko One', cursive;
}
#h16{
	color:red;
	font-family: 'Nerko One', cursive;
	padding-left: 45px;
}
#sp2{
	color: orange;
	font-size:medium;
	font-family: 'Nerko One', cursive;
}
#sp1{
	color: white;
	font-size:medium;
	font-family: 'Nerko One', cursive;
}
#h0{
	color:white;
}
#object_name{
    font-family: cursive;
	font-size: 15px;
	line-height: 20px;
	width: 80%;
	height: 50px;
	color: whitesmoke;
    background: none;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    border:5px solid black
}
.loader-wrapper{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .loader{
      display:inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      border:4px solid red;
      animation: loader 2s infinite ease;
    }
    .loader-inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: red;
      animation: loader-inner 2s infinite ease-in;
      }
    
    @keyframes loader {
      0% { transform: rotate(0deg);}
      25% { transform: rotate(180deg);}
      50% { transform: rotate(180deg);}
      75% { transform: rotate(360deg);}
      100% { transform: rotate(360deg);}
      }
      
      @keyframes loader-inner {
      0% { height: 0%;}
      25% { height: 0%;}
      50% { height: 100%;}
      75% { height: 100%;}
      100% { height: 0%;}
        }
        .copy_right_footer{
            position: fixed;
            color: black;
            bottom: 0;
            width:100%;
            background: #FF4E50;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            line-height: 3;
            text-align: center;
			font-family:'Monoton', cursive;
            }
